<header class="border-bottom p-2">

    <div class="d-lg-flex align-items-lg-center justify-content-lg-between">

        <a class="d-flex justify-content-center align-items-center text-decoration-none">
            <img src="https://github.com/stevengodev.png" class="me-2" alt="Logo" width="64px" height="64px">
            <p class="fs-2">Crud producto</p>
        </a>

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>

</header>