<form [formGroup]="productoForm" (ngSubmit)="onSubmit()">

    @if (esEditar) {
        <div class="form-group">
            <p><strong>ID: </strong>{{txtId}}</p>
        </div>
    }

    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input id="nombre" formControlName="nombre" class="form-control" />
    </div>

    <div class="form-group">
        <label for="categoria">Categoría:</label>
        <input id="categoria" formControlName="categoria" class="form-control" />
    </div>

    <div class="form-group">
        <label for="precio">Precio:</label>
        <input id="precio" formControlName="precio" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label for="stock">Stock:</label>
        <input id="stock" formControlName="stock" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label for="marca">Marca:</label>
        <input id="marca" formControlName="marca" class="form-control" />
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary me-2">{{ esEditar ? 'Actualizar' : 'Crear' }}</button>
        <button (click)="volver()" class="btn btn-secondary">Cancelar</button>
    </div>

</form>