
    <h2 class="mt-3">Listado de productos</h2>

    <table class="table table-hover text-center">

        <thead>
            <tr>
                <th scope="col">Identificador</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoria</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>1111111111-1111111111-1111111111-12</td>
                <td>Iphone</td>
                <td>Iphone</td>
                <td>Iphone</td>
                <td>Iphone</td>

                <td class="d-flex justify-content-center">
                    <a href="" class="btn btn-warning  me-3">Editar</a>
                    <a href="" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>

            <tr>
                <td>1111111111-1111111111-1111111111-11</td>
                <td>Iphone</td>
                <td>Iphone</td>
                <td>Iphone</td>
                <td>Iphone</td>

                <td class="d-flex justify-content-center">
                    <a href="" class="btn btn-warning me-3">Editar</a>
                    <a href="" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>

