<footer class="d-flex justify-content-between align-items-center border-top py-3 my-4">
    <div class="d-flex justify-content-star align-items-center">
        <img src="https://github.com/stevengodev.png" class="rounded-circle" alt="Logo" width="32px" height="32px">
        <p class="fs-9 my-0 ms-2">© Foliacos Company</p>
    </div>

    <div class="d-flex justify-content-end">
        <img src="https://github.com/stevengodev.png" class="rounded-circle me-2" alt="Logo" width="32px" height="32px">
        <img src="https://github.com/stevengodev.png" class="rounded-circle me-2" alt="Logo" width="32px" height="32px">
        <img src="https://github.com/stevengodev.png" class="rounded-circle" alt="Logo" width="32px" height="32px">
    </div>
</footer>